src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	
	<flow name="get-db-createAccount-flow" doc:id="349e83dd-293e-4f15-b0a2-c7277c2c7339" >
		<json-logger:logger doc:name="before fetcing" doc:id="f316048c-a4dd-4a09-bf53-faa29371de35" message="before fetcing" config-ref="JSON_Logger_Config"/>
		<db:select doc:name="Select" doc:id="4426466f-75d9-4d62-a494-27484db38730" config-ref="Database_Config">
			<db:sql ><![CDATA[#[p('retriveQuery')]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	accountnumber: payload.AccountNumber
}]]]></db:input-parameters>
		</db:select>
		<json-logger:logger doc:name="after fetching" doc:id="2b94249c-98cb-4141-be78-b1ca565a740e" message="after fetching" config-ref="JSON_Logger_Config"/>
	</flow>
	<flow name="post-db-createAccount-flow" doc:id="b7d159f4-8d20-4fac-a583-e3ef4ade5f87" >
		<json-logger:logger doc:name="before insterted" doc:id="817ced7d-37ea-4296-9137-58174a84c70c" message="before insterted" config-ref="JSON_Logger_Config"/>
		<db:insert doc:name="Insert" doc:id="14c4cdb1-0426-4cde-8805-e3af9f716d45" config-ref="Database_Config">
			<db:sql ><![CDATA[#[p('insertQuery')]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	AccountName: payload.AccountName,
	AccountNumber: payload.AccountNumber,
	FirstName: payload.FirstName,
	MiddleName: payload.MiddleName,
	LastName: payload.LastName,
	Phone: payload.Phone,
	Email: payload.Email
	
	
}]]]></db:input-parameters>
		</db:insert>
		<json-logger:logger doc:name="after inserted" doc:id="d32bb59e-26e1-42bb-a1e3-8ad492e16908" message="after inserted" config-ref="JSON_Logger_Config"/>
	</flow>
	<flow name="put-db-createAccount-flow" doc:id="31679bd5-1cf8-404a-9061-ac3a99fea383" >
		<json-logger:logger doc:name="before updating" doc:id="a6dbc56f-5de5-49b1-aa2e-009b2316cf95" message="before updating" config-ref="JSON_Logger_Config"/>
		<db:update doc:name="Update" doc:id="b753b068-85e7-42a6-8cc8-f829b64a8c4b" config-ref="Database_Config">
			<db:sql ><![CDATA[#[p('updateQuery')]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	AccountName: payload.AccountName,
	AccountNumber: payload.AccountNumber,
	FirstName: payload.FirstName,
	MiddleName: payload.MiddleName,
	LastName: payload.LastName,
	Phone: payload.Phone,
	Email: payload.Email
	
	
}]]]></db:input-parameters>
		</db:update>
		<json-logger:logger doc:name="after updating" doc:id="118a3597-1aab-4fbf-8c57-0234bc6df33c" message="after updating" config-ref="JSON_Logger_Config"/>
	</flow>
</mule>
